<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MuAIAgent - Multi-AI Agents Platform</title>
    <meta name="description" content="MuAIAgent - Multi-AI Agents Platform">
    <meta name="keywords" content="MuAIAgent - Multi-AI Agents Platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="canoncial" href="https://muaiagent.vn">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <meta property="og:title" content="MuAIAgent - Multi-AI Agents Platform">
    <meta property="og:description" content="MuAIAgent - Multi-AI Agents Platform">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://muaiagent.vn">
    <meta property="og:type" content="website">
    <link rel="stylesheet" type="text/css" href="/css/lp/font.css" asp-append-version="true"/>
    @* <link rel="stylesheet" type="text/css" href="/css/lp/font.css" asp-append-version="true"/> *@
    <link rel="stylesheet" type="text/css" href="/css/lp/css-view.css" asp-append-version="true"/>
</head>
<body class="body-login">
    <div class="main-login">
        @* @await Html.PartialAsync() *@
        <div class="div-section">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="/js/lp/custom-view.js"></script>
</body>
</html>