@* @using muaiagent.vn.Models.Identity *@

@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

@* @model RegisterViewModel  *@
<div class="section-600w">
    <div class="block-white">
        <form 
        method="post"
        data-ajax="true"
        data-ajax-url="@Url.Action("register", "account")"
        >
            
        </form>
    </div>
</div>